@charset "UTF-8";

body {
    background-color: rgb(108, 108, 229);
    font-family: Arial, Helvetica, sans-serif;
}

header {  
    text-align: center;
    color: white;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    color: white;
}