@charset "UTF-8";

body {
    background-color: rgb(101, 101, 233);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

section {
    display: inline-block;
}

select {
    width: 200px;
}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
}