@charset "UTF-8";

body {
    background-color: rgb(101, 101, 233);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

img {
    aspect-ratio: 1 / 1;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.crianca {
    object-position: center 80%;
}

.jovem {
    object-position: center 30%;
}

.jovem-mulher {
    object-position: center top;
}

.adulto {
    object-position: center 25%;
}

.idosa {
    object-position: center 100%;
}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
}